#sec-2{
    height: 86vh;
    background-image: url('../assets/aboutus.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.linearGrade{
    background: linear-gradient(to right,rgb(29, 54, 248),rgb(244, 8, 8));
}


.heading-color{
    color: rgb(20, 20, 244);
}

.sub-heading-color{
    color:  rgba(243, 57, 116, 0.952);
}

.border-bottom{
    border-bottom: rgb(57, 57, 243);
}

.heading{
    font-weight: 600;
}