#academics-sec-2{
    height: 86vh;
    background-image: url('../assets/acedemics.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.dancing-script-text{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
